<!DOCTYPE html> 
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/teachers.css' %}">
    <title>Teacher</title>
</head>
<body>
    <h1>{{thr}}</h1>
    {% if thr  %}
        <table>
            <tr>
                <th>id</th>
                <th>teacher_id</th>
                <th>teacher_name</th>
                <th>teacher_email</th>
            </tr>
            {% for th in thr %}
                <tr>
                    <td>{{th.id}}</td>
                    <td>{{th.teacher_id}}</td>
                    <td>{{th.teacher_name}}</td>
                    <td>{{th.teacher_email}}</td>
                </tr>            
            {% endfor %}
        </table>
    {% else %}  
        <h2>Empty Database</h2>   
    {% endif %}
</body>
</html>